<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect();

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
            socket.on('disconnect', function() {
                $('#log').append('<br>Disconnected');
            });
            /////////////////
            socket.on('my_response', function(msg) {
                $('#log').html('<br>Received: ' + msg.data);
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            // handlers for the different forms in the page
            // these send data to the server in a variety of ways

            // $('form#emit').submit(function(event) {
            //     socket.emit('my_event', {data: $('#emit_data').val()});
            //     return false;
            // });
            // $('form#broadcast').submit(function(event) {
            //     socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
            //     return false;
            // });
            // $('form#join').submit(function(event) {
            //     socket.emit('join', {room: $('#join_room').val()});
            //     return false;
            // });
            // $('form#leave').submit(function(event) {
            //     socket.emit('leave', {room: $('#leave_room').val()});
            //     return false;
            // });
            // $('form#send_room').submit(function(event) {
            //     socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
            //     return false;
            // });
            // $('form#close').submit(function(event) {
            //     socket.emit('close_room', {room: $('#close_room').val()});
            //     return false;
            // });
            $('form#disconnect').submit(function(event) {
                socket.emit('disconnect_request');
                return false;
            });
        });
    </script>
    
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <video id="video" controls></video>
    <script>
        var video = document.getElementById('video');
        if(Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource('http://192.168.1.131:8080/camera/livestream.m3u8');
        // hls.loadSource('http://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8');
          
          // hls.loadSource('http://localhost:4000');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            // video.play();
        });
       }
       // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
       // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
       // This is using the built-in support of the plain video element, without using hls.js.
       // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
       // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = 'http://192.168.1.131:8080/camera/livestream.m3u8';
        //   video.src = 'http://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8';
          // video.src = 'http://localhost:4000';
          video.addEventListener('loadedmetadata',function() {
            // video.play();
          });
        }
      </script>
    <!-- <h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="submit" value="Broadcast">
    </form>
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_name" id="room_name" placeholder="Room Name">
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form> -->
    <h2>Receive:</h2>
    <div><p id="log"></p></div>
</body>
</html>
