{% extends 'base.html' %}

{% block head %}
<title>Index</title>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      var socket = io.connect();

      socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!'});
      });
      socket.on('disconnect', function() {
          $('#log').append('<br>Disconnected');
      });
      /////////////////
      socket.on('my_response', function(msg) {
          $('#log').html('<br>Received: ' + msg.data);
      });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false;
      });
  });
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <h1>Firewatch</h1>
      <video id="video" controls></video>
      <h2>Receive:</h2>
      <div><p id="log"></p></div>

    </div>
  </div>
</div>

<script>
  var video = document.getElementById('video');
  if(Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource('http://192.168.1.131:8080/camera/livestream.m3u8');
    // hls.loadSource('http://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      // video.play();
  });
 }
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = 'http://192.168.1.131:8080/camera/livestream.m3u8';
    // video.src = 'http://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8';
    video.addEventListener('loadedmetadata',function() {
      // video.play();
    });
  }
</script>


{% endblock %}