<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Firewatch</span>
    </div>
  </nav>
    
<video id="video" autoplay></video>
<script>
  var video = document.getElementById('video');
  if(!Hls.isSupported()) {
    var hls = new Hls();
    
    hls.loadSource('https://media.publit.io/file/h_720/input.mp4');
    // hls.loadSource('http://192.168.1.131:8000/streams/output.m3u8');
    // hls.loadSource('http://192.168.1.131:8080/camera/livestream.m3u8');
    // hls.loadSource('http://localhost:4000');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
  });
 }
 // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
 // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
 // This is using the built-in support of the plain video element, without using hls.js.
 // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
 // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
  // else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    else if (video.canPlayType('video/mp4')) {
    video.src = 'https://media.publit.io/file/h_720/input.mp4';
    
    // video.src = 'http://192.168.1.131:8000/streams/output.m3u8';
    // video.src = 'http://192.168.1.131:8080/camera/livestream.m3u8';
    // video.src = 'http://localhost:4000';
    video.addEventListener('loadedmetadata',function() {
      video.play();
    });
  }
</script>
    
</body>
</html>